body{
    font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Poppins', sans-serif;
margin: 0;
paddding: 0;
background-image: url(images/top-banner.png);
background-repeat: no-repeat;

}
.frist-part{
    
    display: flex;
    margin-top: 100px;
}
.about-me{
    width: 50%;
    margin-left: 50px;
    margin-top: 100px;
}
.about-me p{
    font-weight: 600;
    font-size: 25px;
    padding-right: 50px;
    
}
.about-me h1{
    font-size: 45px;
}
h1 .orange-color{
    color: orange;
}
h3 .orange-color{
    color: orange;
}
.my-photo img{
    width: 80%;
    padding-right: 100px;
}
a{
    text-decoration: none;
    color: white;
    border-radius: 10px;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    margin-left: 300px;
}
img{
    float: right;
    
}
.image-add{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
h1{
    font-size: 50px;
    
}
.box-shadow{
    width:90%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    box-shadow: 10px 10px 40px gray;
    border-left: 10px solid;
    
    
}
.box-shadow-two{
    width: 90%;
    
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
    box-shadow: 10px 10px 40px gray;
    border-left: 10px solid;
    

}
.all{
    display: flex;
    margin: 150px 0px;
    
}
.third-part h1{
    font-size: 45px;
    height: 10px;
}
 .third-part{
     background-image: url(images/exp-bg.png);
     background-repeat: no-repeat;
    
 }
 footer{
     text-align: center;
     margin-bottom: 100px;
     font-size: 20px;
 }